.borderbox {
    text-align: center;
}
.BorderBox {
    text-align: center;
}

.borderbox input {
    padding: 1px;
    border-radius: 10px;
}

.BorderBox input {
    box-sizing: border-box;
    margin-inline: auto;
    margin-top: 20px;
}

.surroundingbox {
    box-sizing: border-box;
    width: 25%;
    margin-inline: auto;
    padding: 50px;
    border: 3px solid black;
    margin-top: 80px;
    border-radius: 2em;
    margin-bottom: 1em;
}